<div class="row">
    <div class="container-home">
        <h1>Nomina Online</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quisquam cumque repellat obcaecati tempora?
            Sequi
            quia asperiores magni.</p>

        <p>
            <button class="btn btn-outline-primary btn-block btn-home">
                Ver mas
            </button>
        </p>
    </div>
</div>

<div id="cards" class="row mb-4">
    <h3>Que nos diferencia de la competencia?</h3>
    <div class="card-deck">
        <div class="card shadow">
            <img src="/images/nomina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gestion de nomina</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <div class="card shadow">
            <img src="/images/personal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gestion de personal</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <div class="card shadow">
            <img src="/images/multiplataforma.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Multiplataforma</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>